.btn {
  display: inline-block;
  @include proxima-reg(1.8rem);
  padding: 0.8em 1.111em;
  background: transparent;
  border: none;
  @include border-radius(2rem);
  color: $primary-color;
  cursor: pointer;
  @include transition-duration(0.3s);

  .menu-list & {
    @media (max-width: 991px)  {
      color: $secondary-color;
    }
  }

  &-bigger {
    padding: 0.8333em 2.7777em;
  }

  &-center {
    display: block;
    margin: 0 auto;
  }
  &-border {
    border: 1px solid transparent;
    &:hover {
      border: 1px solid $primary-color
    }
    .menu-list & {
      &:hover {
        @media (max-width: 991px)  {
          border: 1px solid $secondary-color;
        }
      }
    }
  }

  &-color {
    background: -webkit-linear-gradient(150deg, rgb(73, 0, 124), rgb(231, 0, 136));
    background: linear-gradient(150deg, rgb(73, 0, 124), rgb(231, 0, 136));
    color: $secondary-color;
    &:hover {
      background: -webkit-linear-gradient(123deg, rgb(231, 0, 136), rgb(73, 0, 124));
      background: linear-gradient(123deg, rgb(231, 0, 136), rgb(73, 0, 124));
    }
  }

  &-menu {
    width: 3rem;
    height: 2.5rem;
    @include small-bg("../img/menu-icon.png");
    text-indent: -9999px;
  }
}
